.-wrapper
{
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
}

.-row
{
    position: relative;
    display: flex;
    align-items: stretch;
}

.-column
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.-cell:not(*.-column),
.-cell:not(*.-row)
{
    position: relative;
    display: block;
    overflow: hidden;
}

.-cell.-c1 { flex: 1; }
.-cell.-c2 { flex: 2; }
.-cell.-c3 { flex: 3; }
.-cell.-c4 { flex: 4; }
.-cell.-c5 { flex: 5; }
.-cell.-c6 { flex: 6; }
